[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OpenBARD"]
	path = OpenBARD
	url = https://codeberg.org/drdcarpenter/openbard
